<div class="flex flex-row justify-between font-semibold text-2xl bg-neutral-900 text-cyan-50 max-md:flex-col">
  <div class="flex flex-row justify-center w-1/2 items-center max-md:w-full">
    Fyle
  </div>
  <div class="flex flex-row w-1/2 justify-center space-x-20 p-5 max-md:w-full max-md:flex-col max-md:items-center max-md:text-center max-md:space-y-4">
    <div class="cursor-pointer" routerLink="/">Home</div>
    <div class="cursor-pointer" routerLink="/add-workout">Add</div>
    <div class="cursor-pointer" routerLink="/view-all">View</div>
    <div class="cursor-pointer" routerLink="view-chart">Chart</div>
  </div>
</div>
<router-outlet></router-outlet>